<h1>Kirjaudu sisään</h1>

<%= form_tag sessions_path do %>
  Käyttäjätunnus <%= text_field_tag :username, params[:username] %>
  Salasana 		 <%= text_field_tag :password, params[:password] %>

  <%= submit_tag "Kirjaudu sisään" %>
<% end %>